<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_partials/bootstrap/style'); %>

  <title>Create Article</title>
</head>
<body>
  <%- include('../_partials/navbar'); %> 

  <h1>Create Article</h1>

  <a href="/articles">List</a>

  <form id="createArticle">
    <input id="title" type="text" name="title" placeholder="Title">
    <input id="content" type="text" name="content" placeholder="Content">
    <select name="category_id" id="category_id">
      <% categories.forEach(cat => { %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
      <% }) %>
    </select>
    
    <%- include('../_partials/button', { label: 'Create' })  %> 
  </form>
  <br>

  <a href="/categories/create">+ Add Categories</a>

  <!-- <%- include('../_partials/bootstrap/script'); %> -->

</body>

</html>

<script>
  const form = document.getElementById('createArticle');

  form.addEventListener('submit', (e) => {
    e.preventDefault();

    fetch('http://localhost:3000/api/articles', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      },
      body: JSON.stringify({
        title: document.getElementById('title').value,
        content: document.getElementById('content').value,
        category_id: Number(document.getElementById('category_id').value)
      })
    }).then(() => location.href = 'http://localhost:3000/articles');
  })
</script>